@charset "UTF-8";

.title {
	background: #abcbf5;
	padding: 8px;
}

button {
	background-color: #e0f0ff;
	border: 1px solid #205080;
	border-radius: 8px;
	cursor: pointer;
	outline: none;
	padding: 8px 20px;
	appearance: none;
	transition: 0.1s;
}

button:hover {
	background-color: #205080;
	border: 1px solid #e0f0ff;
	color: #ffffff;
}

button:active {
	background-color: #d1d147;
	border: 1px solid #ffffdf;
	color: #ffffff;
}