<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/index.css">
<link rel="stylesheet" href="/select.css">
</head>
<body>
	<h1 class="title">楽曲操作システム★削除</h1>
	<p><button onClick="window.history.back()">メニューに戻る</button></p>
	
	<hr>
	
	<form th:action="@{/delete-confirm}" method="POST">
		<p>削除したい曲番号を入力：<input name="songId" required>　<button type="submit">削除する</button></p>
	</form>
		
	<table>
		<thead>
			<tr>
				<th>曲番号</th>
				<th>曲名</th>
				<th>歌手名</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="music : ${musics}">
				<td th:text="${music.songId}">ERROR!</td>
				<td th:text="${music.songName}">ERROR!</td>
				<td th:text="${music.singer}">ERROR!</td>
			</tr>
		</tbody>
	</table>
</body>
</html>