<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>楽曲操作システム★登録</h1>
	<a th:href="@{/}">メニューに戻る</a><br>
	<h3>以下の楽曲を登録します。よろしいですか？</h3>
	
	<p>
		楽曲名：[[${musicForm.songName}]]<br>
		歌い手：[[${musicForm.singer}]]
	</p> 
	
	<form th:action="@{/insert-done}" id="confirm" method="post">
		<input type="hidden" name="songName" th:value="${musicForm.songName}">
		<input type="hidden" name="singer" th:value="${musicForm.singer}">
	</form>
	
	<button form="confirm" type="submit">登録する</button>
	<button onclick="window.history.back()">戻る</button>
</body>
</html>